
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    }
    
    .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    }
    
    .card-header {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    }
    
   
    
    .card-body {
    padding: 20px;
    display: none;
    }
    
    .collapse {
    display: block;
    }
    
    .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    }
    
    .label-input {
    width: 20%;
    margin-right: 10px;
    }
    
    .input-text {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    
    .add-btn {
    width: 20%;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    }
    
    .add-btn:hover {
    background-color: #1abc9c;
    }
    
    .comidas-lista {
    margin-top: 20px;
    }
    
    .comida-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    }
    
    .comida-item span {
    font-weight: bold;
    }